<template>
    <!--spinner while loading data-->
    <template if:true={showSpinner}>
       <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
   </template>
      
   <div class="slds-p-top_large">
       <template if:true={accountData}>
           <table class="slds-table slds-table_fixed-layout slds-p-top_large"
               aria-labelledby="element-with-table-label other-element-with-table-label">
               <thead>
                   <tr class="slds-line-height_reset">
                       <th class="" scope="col">
                           <div class="slds-truncate" title="Account Name">Account Name</div>
                       </th>
                       <th class="" scope="col">
                           <div class="slds-truncate" title="Billing Location">Billing Location</div>
                       </th>
                       <th class="" scope="col">
                           <div class="slds-truncate" title="Active">Active</div>
                       </th>
                   </tr>
               </thead>
               <tbody>
                   <template for:each={accountData} for:item="acc" for:index="index">
                       <tr key={acc.accId} class="slds-hint-parent">
                           <td data-label="Case Number">
                               <div class="slds-truncate" title="Account Name">
                                   <span  if:true={acc.childAccountsList.length}>
                                       <template if:false={acc.isExpanded}>
                                           <lightning-button-icon variant="bare" icon-name="utility:chevronright" data-index={index}
                                               alternative-text="Expand" title="Expand" size="small"
                                               onclick={handleIconClick}></lightning-button-icon>
                                       </template>
                                       <template if:true={acc.isExpanded}>
                                           <lightning-button-icon variant="bare" icon-name="utility:chevrondown" data-index={index}
                                               alternative-text="Collapse" title="Collapse" size="small"
                                               onclick={handleIconClick}></lightning-button-icon>
                                       </template>
                                   </span>
                                   <span if:false={acc.childAccountsList.length}>
                                       
                                       <lightning-button-icon variant="bare" icon-name="utility:dash" size="small"></lightning-button-icon>
                                   </span>
                                   <span class="slds-p-left_x-small">
                                       
                                       <a data-id={acc.accId} onclick={handleNavigate}>{acc.accName}</a>
                                       
                                   </span>
                               </div>
                           </td>
                           <td data-label="BillingLocation">
                               <div class="slds-truncate" title="BillingLocation">{acc.billingLocation}</div>
                           </td>
                           <td data-label="Active">
                            <div class="slds-truncate" title="Active">{acc.active}</div>
                        </td>
                       </tr>
                       <!-- calling same component to retrieve the row's child cases on click of add button-->
                       <template if:true={acc.isExpanded} >
                           <tr key={acc.accId}>
                               <td colspan="3">
                                   <c-child-account-heirarchy child-account-list={acc.childAccountsList}></c-child-account-heirarchy>
                               </td>
                           </tr>
                           <!-- <c-child-account-heirarchy key={acc.accId}  child-account-list={acc.childAccountsList}></c-child-account-heirarchy>
                                -->
                       </template>
                   </template>
               </tbody>
   
           </table>
       </template>
   </div>
   
</template>