<template>
    <!--spinner while loading data-->
    <template if:true={showSpinner}>
       <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
   </template>
   
   <!-- <div class=""> -->
       <template if:true={childAccountListLocal}>
           <table class="slds-table slds-table_fixed-layout"
               aria-labelledby="element-with-table-label other-element-with-table-label">
               <tbody>
                   <template for:each={childAccountListLocal} for:item="childAccount" for:index="index">
                       <tr key={childAccount.accId} class="slds-hint-parent">
                           <td data-label="Case Number" >
                               <div class="slds-truncate" title="Account Name">
                                   <span  if:true={childAccount.childAccountsList.length}>
                                    <template if:false={childAccount.isExpanded}>
                                        <lightning-button-icon variant="bare" icon-name="utility:chevronright" data-index={index}
                                            alternative-text="Expand" title="Expand" size="small"
                                            onclick={handleIconClick}></lightning-button-icon>
                                    </template>
                                    <template if:true={childAccount.isExpanded}>
                                        <lightning-button-icon variant="bare" icon-name="utility:chevrondown" data-index={index}
                                            alternative-text="Collapse" title="Collapse" size="small"
                                            onclick={handleIconClick}></lightning-button-icon>
                                    </template>
                                    </span>
                                    <span if:false={childAccount.childAccountsList.length}>
                                        
                                        <lightning-button-icon variant="bare" icon-name="utility:dash" size="small"></lightning-button-icon>
                                    </span>
                                    <span class="slds-p-left_x-small">
                                        
                                        <a data-id={childAccount.accId} onclick={handleNavigate}>{childAccount.accName}</a>
                                    </span>
                               </div>
                           </td>
                           <td data-label="BillingLocation">
                               <div class="slds-truncate" title="BillingLocation">{childAccount.billingLocation}</div>
                           </td>
                           <td data-label="Active">
                            <div class="slds-truncate" title="Active">{childAccount.active}</div>
                        </td>
                       </tr>
                       <template if:true={childAccount.isExpanded}>
                           <tr key={childAccount.accId}>
                               <td colspan="3">
                                   <c-child-account-heirarchy
                                   child-account-list={childAccount.childAccountsList}>
                                </c-child-account-heirarchy>
                               </td>
                           </tr>
                           <!-- <c-child-account-heirarchy key={childAccount.accId} child-account-list={childAccount.childAccountsList}></c-child-account-heirarchy> -->
                              
                       </template>
                   </template>
               </tbody>
   
           </table>
       </template>
   <!-- </div> -->
   
</template>